#[access]
#	inheritFrom = All-Projects
#[submit]
#	action = inherit
[access "refs/*"]
	owner = group saml/lf-releng
	owner = group saml/lf-sandbox-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Gitlab Replication
	read = group saml/lf-releng
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyCondition = changekind:NO_CHANGE
[access "refs/heads/*"]
	label-Verified = -1..+1 group LF CI
	label-Verified = -1..+1 group Project Owners
