[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/lf-releng
	owner = group saml/lf-sandbox-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Gitlab Replication
	read = group saml/lf-releng
[label "Verified"]
	function = NoBlock
	defaultValue = 0
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyCondition = changekind:NO_CHANGE
[submit-requirement "Verified"]
	description = A maximum 'Verified' vote is required for the 'Verified' label. A minimum vote is blocking.
	submittableIf = label:Verified=MAX AND -label:Verified=MIN
	canOverrideInChildProjects = false
