---
# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation

name: Gerrit Composed Maven Merge

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
    inputs:
      GERRIT_BRANCH:
        description: "Branch that change is against"
        required: true
        type: string
      GERRIT_CHANGE_ID:
        description: "The ID for the change"
        required: true
        type: string
      GERRIT_CHANGE_NUMBER:
        description: "The Gerrit number"
        required: true
        type: string
      GERRIT_CHANGE_URL:
        description: "URL to the change"
        required: true
        type: string
      GERRIT_EVENT_TYPE:
        description: "Type of Gerrit event"
        required: true
        type: string
      GERRIT_PATCHSET_NUMBER:
        description: "The patch number for the change"
        required: true
        type: string
      GERRIT_PATCHSET_REVISION:
        description: "The revision sha"
        required: true
        type: string
      GERRIT_PROJECT:
        description: "Project in Gerrit"
        required: true
        type: string
      GERRIT_REFSPEC:
        description: "Gerrit refspec of change"
        required: true
        type: string

concurrency:
  # yamllint disable-line rule:line-length
  group: compose-make-merge-${{ github.workflow }}-${{ github.event.inputs.GERRIT_CHANGE_ID || github.run_id }}
  cancel-in-progress: true

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify job start
        # yamllint disable-line rule:line-length
        uses: lfit/gerrit-review-action@9627b9a144f2a2cad70707ddfae87c87dce60729 # v0.8
        with:
          host: ${{ vars.GERRIT_SERVER }}
          username: ${{ vars.GERRIT_SSH_USER }}
          key: ${{ secrets.GERRIT_SSH_PRIVKEY }}
          known_hosts: ${{ vars.GERRIT_KNOWN_HOSTS }}
          gerrit-change-number: ${{ inputs.GERRIT_CHANGE_NUMBER }}
          gerrit-patchset-number: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
          comment-only: "true"
      - name: Allow replication
        run: sleep 10s

  sanitize:
    needs: [notify]
    runs-on: ubuntu-latest
    outputs:
      sanitized_project: ${{ steps.sanitize.outputs.result }}
    steps:
      - name: Sanitize GERRIT_PROJECT
        id: sanitize
        run: echo "result=${GERRIT_PROJECT//\//-}" >> "$GITHUB_OUTPUT"
        env:
          GERRIT_PROJECT: ${{ inputs.GERRIT_PROJECT }}

  load-secrets:
    needs: [notify, sanitize]
    runs-on: ubuntu-latest
    outputs:
      nexus_password: ${{ steps.load_secrets.outputs.NEXUS_PASSWORD }}
    steps:
      # yamllint disable-line rule:line-length
      - uses: lfit/checkout-gerrit-change-action@54d751e8bd167bc91f7d665dabe33fae87aaaa63 # v0.9
        with:
          gerrit-refspec: ${{ inputs.GERRIT_REFSPEC }}
          gerrit-url: ${{ vars.GERRIT_URL }}
          delay: "10s"  # Allow time for GitHub mirroring

      - name: "Extract Gerrit project from .gitreview"
        shell: bash
        run: |
          # Extract Gerrit project from .gitreview
          GERRIT_PROJECT=$(grep 'project=' .gitreview | awk -F= '{print $2}')
          EXIT_CODE=$?
          if [ $EXIT_CODE -ne 0 ] || [ -z "$GERRIT_PROJECT" ]; then
            echo "Error: Unable to extract Gerrit project from .gitreview"
            exit 1
          else
            echo "GERRIT_PROJECT=$GERRIT_PROJECT" >> $GITHUB_ENV
            echo "GERRIT_PROJECT=$GERRIT_PROJECT" >> $GITHUB_OUTPUT
            echo "Extracted Gerrit project name: $GERRIT_PROJECT" >> $GITHUB_STEP_SUMMARY
          fi

      - name: Load secrets from 1Password
        id: load_secrets
        # yamllint disable-line rule:line-length
        uses: 1password/load-secrets-action@13f58eec611f8e5db52ec16247f58c508398f3e6 # v3.0.0
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          NEXUS_PASSWORD: op://6n4qm2onchsinyyeuxmcfbo7ne/${{ env.GERRIT_PROJECT }}/password

      - name: "Show SHA1SUM of 1Password credential"
        shell: bash
        run: |
          # Show SHA1SUM of 1Password credential
          SHA1SUM_CMD=$(which sha1sum)
          if [ ! -x "$SHA1SUM_CMD" ]; then
            echo "Error: sha1sum binary not found in PATH âŒ"; exit 1
          fi
          SHA1SUM=$(echo -n ${{ steps.load_secrets.outputs.NEXUS_PASSWORD }} \
            | "$SHA1SUM_CMD" | awk '{print $1}')
          echo "SHA1SUM=$SHA1SUM" >> $GITHUB_OUTPUT
          echo "Credential sha1sum: $SHA1SUM" >> $GITHUB_STEP_SUMMARY

  check-secrets:
    needs: [notify, sanitize, load-secrets]
    runs-on: ubuntu-latest
    env:
      NEXUS_PASSWORD: ${{ needs.load-secrets.outputs.nexus_password }}
    steps:
      - name: "Check extracted secret availability from second job"
        shell: bash
        run: |
          # Show SHA1SUM of 1Password credential
          echo "Credential sha1sum: $NEXUS_PASSWORD"
          echo "Credential sha1sum: $NEXUS_PASSWORD" >> $GITHUB_STEP_SUMMARY

  maven-merge:
    needs: [notify, sanitize, load-secrets]
    # yamllint disable-line rule:line-length
    uses: lfit/releng-reusable-workflows/.github/workflows/compose-make-merge.yaml@f318aaac9f4fce73a8059fe95ba9080833e018c2
    secrets:
      NEXUS_PASSWORD: ${{ needs.load-secrets.outputs.nexus_password }}
    with:
      GERRIT_BRANCH: ${{ inputs.GERRIT_BRANCH }}
      GERRIT_CHANGE_ID: ${{ inputs.GERRIT_CHANGE_ID }}
      GERRIT_REFSPEC: ${{ inputs.GERRIT_REFSPEC }}
      JDK_VERSION: "21"
      MVN_VERSION: "3.9.6"
      MAKE_TARGETS: "deploy"

  report-status:
    if: ${{ always() }}
    needs: [notify, sanitize, load-secrets, maven-merge]
    runs-on: ubuntu-latest
    steps:
      - name: Get workflow conclusion
        uses: technote-space/workflow-conclusion-action@45ce8e0eb155657ab8ccf346ade734257fd196a5 # v3.0.3
      - name: Report workflow conclusion
        # yamllint disable-line rule:line-length
        uses: lfit/gerrit-review-action@9627b9a144f2a2cad70707ddfae87c87dce60729 # v0.8
        with:
          host: ${{ vars.GERRIT_SERVER }}
          username: ${{ vars.GERRIT_SSH_USER }}
          key: ${{ secrets.GERRIT_SSH_PRIVKEY }}
          known_hosts: ${{ vars.GERRIT_KNOWN_HOSTS }}
          gerrit-change-number: ${{ inputs.GERRIT_CHANGE_NUMBER }}
          gerrit-patchset-number: ${{ inputs.GERRIT_PATCHSET_NUMBER }}
          comment-only: "true"
          # neutral, success, skipped, cancelled, timed_out, action_required, failure
          # TODO: vote-type understands only "success", "failure", "cancelled" and "clear". Hence, the other values need to be somehow mapped
          # to "vote-type" values.
          vote-type: ${{ env.WORKFLOW_CONCLUSION }}
